body{
  background: black;
  background: url(../img/nen.png) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

#form-signin{
  padding: 50px 10px;
  width: 600px;
  min-height: 100px;
  background: 0,0,0,0.5;
  margin: 0px auto;
  margin-top: 20px;
  border-radius: 30px;
}
#form-signin H3{
  text-align: center;
}
#form-signin #email{
  display: block;
  width: 80%;
  padding: 10px;
  margin: 0px auto;
  margin-top: 15px;
}
#form-signin #email:focus{
  background:rgb(173, 163, 163) ;
  color: red;
}
#form-signin #txt:focus{
  background:rgb(173, 163, 163) ;
  color: red;
}
#form-signin #btn-signin{
  background: green;
  color: white;
  border: 0px;
  padding: 10px 30px;
  display: block;
  margin: 0px auto;
  margin-top: 15px;
  width: 86%;
}
#form-signin #btn:hover{
  background: black;
  cursor: pointer;
}
input[type=text] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type=password]{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
@media only screen and(max-width:500px){
  #form-signin{
      width: 320px;
  }
}